# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/invoicify?schema=public"

# Better Auth
BETTER_AUTH_SECRET="invoicify-ci-auth-secret-key-must-be-at-least-32-chars"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"

# Redis Cache
REDIS_URL="redis://localhost:6379"

# Email / SMTP (Optional for local/CI)
SMTP_USER=""
SMTP_PASS=""
